<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <main>
      <div class="detail">
        <div class="about">
        <h2>404</h2>
        <p>De pagina die je probeert te bezoeken bestaat niet (meer)</p>
        </div>
      </div>
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>