
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>
<div class="cards">
<a href="/clearfavorites">
<div class="card">
<h2>Clear all favorites</h2>
</div>
</a>
<% favorites.forEach(favorite => {%>
<a href="/details/<%= favorite %>">

          <div class="card">
  
          <h2><%= names[favorite].name + " " + names[favorite].lastName %></h2>
          <p>Click to contact this user </p>
          
          </div>
          </a>
<% }) %>
</div>
<footer>
<% include ../partials/footer %>
</footer>
</body>
</html>
