<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">
    <header>
      <% include ../partials/header %>
    </header>

    <div>
      <div class="cards">
        <% names.forEach(name => { %>
        <a href="/details/<%=name.id%>">
          <div class="card">
          <h2><%= name.name %> <%= name.insult %></h2>
          <p>Click to contact this user </p>
          </div>
          </a>

        <% }) %>
      </div>
    </div>

    <footer>
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
