<!-- views/partials/header.ejs -->

<nav class="navbar" role="navigation">
<h1>Insulter</h1>
<div class="menu">
<a href="/">Home</a>
<a href="/details">Details</a>
<a href="/about">About</a>
</div>
</nav>

